﻿@*@model XsisMart.Models.Variant*@
@model XsisMart.ViewModels.VMVariant

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

@*<h1>Create</h1>

    <h4>Variant</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NameVariant" class="control-label"></label>
                    <input asp-for="NameVariant" class="form-control" />
                    <span asp-validation-for="NameVariant" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsDelete" class="control-label"></label>
                    <input asp-for="IsDelete" class="form-control" />
                    <span asp-validation-for="IsDelete" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>

<div class="col-12">
    <div class="card card-secondary">
        <div class="card-header">
            <h1>Create Variant</h1>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form id="create-formed" asp-action="Create">
            <div class="card-body">
                <input type="hidden" asp-for="IsDelete" value=False />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NameVariant" class="control-label"></label>
                    <input name="NameVariant" asp-for="NameVariant" class="form-control" />
                    <span asp-validation-for="NameVariant" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input name="Description" asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <!-- select -->
                    <div class="form-group">
                        <label> Category </label><br>
                        <select asp-for="IdCategory" asp-items="@(new SelectList(ViewBag.message,"IdCategory","NameCategory"))"></select>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <a asp-action="Index" class="btn btn-block btn-outline-secondary col-2">Back to List</a>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#create-formed").validate({
            rules: {
                NameVariant: {
                    required: true
                },
                Description: {
                    required: true
                },
                IdCategory: {
                    min: 1
                }
            },
            messages: {
                NameVariant: {
                    required: "Name Variant Required"
                },
                Description: {
                    required: "Description Required"
                },
                IdCategory: {
                    min: "Please Select Category"
                }
            },
            submitHandler: function (form) {
                var dataform = $(form).serialize();
                form.submit();
            }

        });
    });
</script>