﻿@model XsisMart.Models.Variant

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

@*<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Variant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameVariant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameVariant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVariant" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>*@

<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-danger">
        <div class="card-header">
            <h3>Are you sure you want to delete this?</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-12">
                        @Html.DisplayNameFor(model => model.NameVariant)
                    </dt>
                    <dd class="col-sm-12">
                        @Html.DisplayFor(model => model.NameVariant)
                        @*@Html.DisplayFor(model => model.NameCategory)*@
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-12">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsDelete)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsDelete)
                    </dd>
                </dl>
            </div>
            <!-- /.card-body -->
        </form>
        <div class="card-footer">
            <form asp-action="Delete">

                <input type="hidden" asp-for="IdVariant" />
                <input type="hidden" asp-for="NameVariant" />
                <input type="hidden" asp-for="Description" />
                <input type="hidden" asp-for="IsDelete" />
                
                <input type="submit" class="btn btn-block btn-outline-danger col-2" value="Delete">
                <a asp-action="Index" class="btn btn-block btn-outline-info col-2">Back To Menu</a>
            </form>

        </div>

    </div>
    <!-- /.card -->

</div>

