﻿@model XsisMart.Models.Variant

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

@*<h1>Edit</h1>

    <h4>Variant</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdVariant" />
                <div class="form-group">
                    <label asp-for="NameVariant" class="control-label"></label>
                    <input asp-for="NameVariant" class="form-control" />
                    <span asp-validation-for="NameVariant" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsDelete" class="control-label"></label>
                    <input asp-for="IsDelete" class="form-control" />
                    <span asp-validation-for="IsDelete" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@

<div class="col-12">
    @*<div class="card card-primary">*@
        <div class="card-header">
            <h1>Edit Variant</h1>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form asp-action="Edit" data-ajax-method="POST">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdVariant" />
                <div class="form-group">
                    <label asp-for="NameVariant" class="control-label"></label>
                    <input asp-for="NameVariant" class="form-control" />
                    <span asp-validation-for="NameVariant" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <!-- select -->
                    <div class="form-group">
                        <label asp-for="IsDelete" class="control-label"></label>
                            <select  asp-for="IsDelete" class="form-control" >
                                <option values="True">True</option>
                                <option values="False">False</option>
                            </select>
                            <span asp-validation-for="IsDelete" class="text-danger"></span>
                        <label> Category </label><br>
                        <select asp-for="IdCategory" asp-items="@(new SelectList(ViewBag.message,"IdCategory","NameCategory"))"></select>
                    </div>
                </div>
                @*<div class="form-group">
                        <label asp-for="IsDelete" class="control-label"></label>
                        <input asp-for="IsDelete" class="form-control" />
                        <span asp-validation-for="IsDelete" class="text-danger"></span>
                    </div>*@
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    @*</div>*@
    @*<a asp-action="Index" class="btn btn-block btn-outline-secondary col-2">Back to List</a>*@
</div>