﻿@*@model IEnumerable<XsisMart.ViewModels.VMVariant>*@
@model XsisMart.Utils.PaginatedList<XsisMart.ViewModels.VMVariant>
@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameVariant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDelete)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameVariant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDelete)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdVariant">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdVariant">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdVariant">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@

<div class="row col-12">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h1>Variant</h1>

                <div class="card-tools">
                    <form asp-action="Index" method="get">
                        <div class="input-group input-group-sm" style="width: 250px;">
                            @*<input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />*@
                            <input type="text" name="SearchString" class="form-control float-right" value="@ViewData["CurrentFilter"]" placeholder="Search">@*search button*@

                            <div class="input-group-append">
                                @*<input type="submit" value="Search" class="btn btn-default" />*@
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>

                                <a asp-action="Index" asp-route-sortOrder="@ViewData["VarSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" style="color:black">Variant Name  <i class="fas fa-sort"></i></a>
                            </th>
                            <th>
                                <a asp-action="Index" asp-route-sortOrder="@ViewData["DescSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" style="color:black">Description  <i class="fas fa-sort"></i></a>
                            </th>
                            <th>
                                <a asp-action="Index" asp-route-sortOrder="@ViewData["CatSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" style="color:black">Category Name  <i class="fas fa-sort"></i></a>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NameVariant)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NameCategory)
                                </td>

                                <td>
                                    @*<a asp-action="Edit" asp-route-id="@item.IdVariant" class="btn btn-success">Edit</a>
                                        <a asp-action="Details" asp-route-id="@item.IdVariant" class="btn btn-primary">Details</a>
                                        <a asp-action="Delete" asp-route-id="@item.IdVariant" class="btn btn-danger">Delete</a>*@
                                    <a type="button" class="btn btn-success btn-edit" data-id="@item.IdVariant">Edit</a>
                                    <a type="button" class="btn btn-info btn-details" data-id="@item.IdVariant">Details</a>
                                    <a class="btn btn-danger btn-delete" data-id="@item.IdVariant">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->

        </div>
        <button type="button" class="btn btn-dark col-2" id="btn-create">Create New</button>
        <!-- /.card -->
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Variants</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    $("#btn-create").click(function () {
        $("#id-body").empty();
        $("#id-body").load('/Variants/Create')
        $("#modal-default").modal("show");
    })
    $(".btn-edit").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Variants/Edit/' + id);
        $("#modal-default").modal("show");
    })
    $(".btn-details").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Variants/Details?id=' + id);
        $("#modal-default").modal("show");
    })
    $(".btn-delete").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Variants/Delete/' + id);
        $("#modal-default").modal("show");
    })

</script>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
