﻿@model XsisMart.ViewModels.VMProduct
@*@model XsisMart.Models.Product*@
@{
    ViewData["Title"] = "Create";
    Layout = null;
}
@*<h1>Create</h1>


    <form asp-action="Create" data-ajax-method="POST">

        <label for="NameProduct">Nama Produk</label><br>
        <input type="text" id="NameProduct" name="NameProduct" /><br>

        <label for="Price">Harga</label><br>
        <input type="text" id="Price" name="Price" /><br>
        Produk
        <label for="Stock"> Stok </label><br>
        <input type="text" id="Stock" name="Stock" /><br>

        <input type="submit" value="Submit">
    </form>*@

<!--<div class="container-fluid">-->
<!-- general form elements -->
<!--<div class="card card-secondary">
    <div class="card-header">
        <h2 class="card-title">Create Data</h2>
    </div>-->
<!-- /.card-header -->
<!-- form start -->
<!--<form asp-action="Edit" data-ajax-method="POST">
    <div class="card-body col-12">
        <div class="form-group">
            <label for="NameProduct">Nama Produk</label><br>
            <input type="text" id="NameProduct" name="NameProduct" /><br>
        </div>
        <div class="form-group">
            <label for="Price">Harga</label><br>
            <input type="text" id="Price" name="Price" /><br>
        </div>
        <div class="form-group">
            <label for="Stock"> Stok </label><br>
            <input type="text" id="Stock" name="Stock" /><br>
        </div>

    </div>-->
<!-- /.card-body -->
<!--<div class="card-footer">
            <button type="submit" class="btn btn-block btn-outline-secondary">Create</button>
        </div>
    </form>
</div>-->
<!-- /.card -->
<!--</div>-->

<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>


<div class="container-fluid">
    <div class="card-header">
        <h4>Create Product</h4>
    </div>
    <form asp-action="Create" data-ajax-method="POST" id="create-form">
        <div class="card-body">

            <div class="form-group">
                <label for="NameProduct">Nama Produk</label><br>
                <input required class="form-control" type="text" id="NameProduct" name="NameProduct" /><br>
                <span asp-validation-for="NameProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Price">Harga</label><br>
                <input required class="form-control" type="text" id="Price" name="Price" /><br>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Stock"> Stok </label><br>
                <input required class="form-control" type="text" id="Stock" name="Stock" /><br>
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label> Categories </label><br>
                <select id="IdCategory" asp-for="IdCategory" class="form-control" asp-items="@(new SelectList(ViewBag.klm,"IdCategory","NameCategory"))"></select>
            </div>
            <div class="form-group">
                <label> Variant </label><br>
                <select id="IdVariant" asp-for="IdVariant" class="form-control" asp-items="@(new SelectList(ViewBag.ListVariant,"IdVariant","NameVariant"))"></select>
            </div>
            <div class="custom-file">
                <label>Input Picture</label><br />
                <input type="file" id="fileUpload" class="fileUpload">

            </div>
            <div class="img-fluid col-8" id="img-show" style="display:none">
                @*<button id="btnUpload" class="btn btn-success">Upload</button>*@
            </div>
            <input type="hidden" id="img" asp-for="Image" />
        </div>

        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-block btn-outline-info">Submit</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    $("#IdCategory").change(function () {
        var IdCategory = $(this).val();
        $.ajax({
            url: '/Product/GetDataVariantAjax',
            datatype: 'json',
            data: { IdCategory: IdCategory },
            success: function (respon) {
                $("#IdVariant").empty()
                $("#IdVariant").append(
                    $.each(respon, function (index, respon) {
                        $("#IdVariant").append("<option value='" + respon.idVariant + "'>" + respon.nameVariant + "</option>");
                    }
                    ))
            }
        })
    })

    //$(function () {
    //    errorClass: 'errors',
    //        rules:
    //})
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#create-form").validate({
            rules: {
                NameProduct: {
                    required: true
                },
                Price: {
                    required: true
                },
                Stock: {
                    required: true
                },
                IdCategory: {
                    min: 1
                },
                IdVariant: {
                    min: 1
                }
            },
            messages: {
                NameProduct: {
                    required: "Name Product Required"
                },
                Price: {
                    required: "Price Required"
                },
                Stock: {
                    required: "Stock Category"
                },
                IdCategory: {
                    min: "Category Required"
                },
                IdVariant: {
                    min: "Variant Required"
                },
            },
            submitHandler: function (form) {
                var dataform = $(form).serialize();
                form.submit();
            }

        });
    });
</script>
<script>
    $("#fileUpload").change(function () {
        var files = $('#fileUpload').prop("files");
        var url = "/Product/OnPostMyUploader";
        formData = new FormData();
        formData.append("MyUploader", files[0]);

        jQuery.ajax({
            type: 'POST',
            url: url,
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (repo) {
                if (repo.status == "success") {
                    var imag = "<img "
                        + "src='mediaUpload/" + repo.fileName + "' style=' width:80%; heigth:80%'/>";

                    $("#img").val(repo.fileName);
                    $("#img-show").html(imag);
                    $("#img-show").show();
                }
            },
            error: function () {
                alert("Error occurs");
            }
        });
    });

    // If you want to upload file on button click, then use below button click event
    $("#btnUpload").on('click', function () {
        // add jQuery ajax code to upload
    });
</script>
