﻿@model XsisMart.Models.Product
@{
    ViewData["Title"] = "Delete";
    Layout = null;
}



@*<form asp-action="Delete" data-ajax-method="POST">
        <input type="hidden" id="IdProduct" name="IdProduct" value="@Model.IdProduct"><br>


        <input type="hidden" id="NameProduct" name="NameProduct" value="@Model.NameProduct"><br>


        <input type="hidden" id="Price" name="Price" value="@Model.Price"><br>


        <input type="hidden" id="Stock" name="Stock" value="@Model.Stock"><br>

        <input type="submit" class="btn btn-success" value="yes">
        <a asp-action="Index" class="btn btn-warning">No</a>
    </form>*@

@{
    ViewData["Title"] = "Delete";
}

@*<h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Category</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NameProduct)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NameProduct)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Stock)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Stock)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdProduct" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>*@

<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-danger">
        <div class="card-header">
            <h3>Are you sure you want to delete this?</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <div class="form-group">
                    <h3>Nama Produk = @Model.NameProduct</h3>
                </div>
                <div class="form-group">
                    <h3>Harga Produk = @Model.Price</h3>
                </div>
                <div class="form-group">
                    <h3>Stok Produk = @Model.Stock</h3>
                </div>

            </div>
            <!-- /.card-body -->
        </form>
        <div class="card-footer">
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdProduct" />
                <input type="submit" class="btn btn-block btn-outline-danger btn-lg" value="Delete">
                <a asp-action="Index" class="btn btn-block btn-outline-info btn-lg">Back To Menu</a>
            </form>

        </div>

    </div>
    <!-- /.card -->

</div>