﻿@model XsisMart.ViewModels.VMProduct
@{
    ViewData["Title"] = "Detail";
    Layout = null;
}

@*<h1>Detail Produk</h1>

    <h2>Nama Produk = @Model.NameProduct</h2>
    <h2>Harga Produk = @Model.Price</h2>
    <h2>Stok Produk = @Model.Stock</h2>*@

@*<a asp-action="Index" class="btn btn-secondary">Return</a>*@
<div class="col-md-12">
    <!-- general form elements -->
    @*<div class="card card-primary">*@
        <div class="card-header">
            <h2 @*class="card-title"*@>Detail Product</h2>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <div class="form-group">
                    <h5>Nama Produk</h5>
                    @Html.DisplayFor(model => model.NameProduct)
                </div>
                <div class="form-group">
                    <h5>Harga Produk</h5>
                    @Html.DisplayFor(model => model.Price)
                </div>
                <div class="form-group">
                    <h5>Stok Produk</h5>
                    @Html.DisplayFor(model => model.Stock)
                </div>
                <div class="form-group">
                    <h5>Category Produk</h5>
                    @Html.DisplayFor(model => model.NameCategory)
                </div>
                <div class="form-group">
                    <h5>Variant Produk</h5>
                    @Html.DisplayFor(model => model.NameCategory)
                </div>

            </div>
            <!-- /.card-body -->

            @*<div class="card-footer">
                <a asp-action="Index" class="btn btn-block btn-outline-info btn-lg">Return</a>
            </div>*@
        </form>
    @*</div>*@
    <!-- /.card -->

</div>