﻿@model XsisMart.ViewModels.VMProduct
@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

@*<form asp-action="Edit" data-ajax-method="POST">
        <input type="hidden" id="IdProduct" name="IdProduct" value="@Model.IdProduct"><br>

        <label for="NameProduct">Nama Produk</label><br>
        <input type="text" id="NameProduct" name="NameProduct" value="@Model.NameProduct"><br>

        <label for="Price">Harga</label><br>
        <input type="text" id="Price" name="Price" value="@Model.Price"><br>

        <label for="Stock"> Stok </label><br>
        <input type="text" id="Stock" name="Stock" value="@Model.Stock"><br>

        <input type="submit" value="Submit">
    </form>*@

<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>


<div class="container-fluid">
    <!-- general form elements -->
    <div class="card card-primary mx-auto">
        <div class="card-header">
            <h2 class="card-title">Edit Data</h2>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form id="create-form" asp-action="Edit" data-ajax-method="POST">
            <div class="card-body">
                <input type="hidden" id="IdProduct" name="IdProduct" value="@Model.IdProduct"><br>
                <div class="form-group">
                    <label for="NameProduct">Nama Produk</label><br>
                    <input required class="form-control" type="text" id="NameProduct" name="NameProduct" value="@Model.NameProduct"><br>
                    <span asp-validation-for="NameProduct" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Price">Harga</label><br>
                    <input required class="form-control" type="text" id="Price" name="Price" value="@Model.Price"><br>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Stock"> Stok </label><br>
                    <input required class="form-control" type="text" id="Stock" name="Stock" value="@Model.Stock"><br>
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label> Categories </label><br>
                    <select id="IdCategory" asp-for="IdCategory" class="form-control" asp-items="@(new SelectList(ViewBag.klm,"IdCategory","NameCategory"))"></select>
                </div>
                <div class="form-group">
                    <label> Variant </label><br>
                    <select asp-for="IdVariant" class="form-control" asp-items="@(new SelectList(ViewBag.ListVariant,"IdVariant","NameVariant"))"></select>
                </div>
                <div class="custom-file">
                    <label>Input Picture</label><br />
                    <input type="file" id="fileUpload" class="fileUpload">

                </div>
                <div class="img-fluid col-8" id="img-show" style="display:none">
                    @*<button id="btnUpload" class="btn btn-success">Upload</button>*@
                </div>
                <input type="hidden" id="img" asp-for="Image" />
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <!-- /.card -->
</div>
<script type="text/javascript">
    $("#IdCategory").change(function () {
        var IdCategory = $(this).val();
        $.ajax({
            url: '/Product/GetDataVariantAjax',
            datatype: 'json',
            data: { IdCategory: IdCategory },
            success: function (respon) {
                $("#IdVariant").empty()
                $("#IdVariant").append(
                    $.each(respon, function (index, respon) {
                        $("#IdVariant").append("<option value='" + respon.idVariant + "'>" + respon.nameVariant + "</option>");
                    }
                    ))
            }
        })
    })
</script>
<script>
    $(document).ready(function () {
        $("#create-form").validate();
    });
    $("#fileUpload").change(function () {
        var files = $('#fileUpload').prop("files");
        var url = "/Product/OnPostMyUploader";
        formData = new FormData();
        formData.append("MyUploader", files[0]);

        jQuery.ajax({
            type: 'POST',
            url: url,
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (repo) {
                if (repo.status == "success") {
                    var imag = "<img "
                        + "src='mediaUpload/" + repo.fileName + "' style=' width:80%; heigth:80%'/>";

                    $("#img").val(repo.fileName);
                    $("#img-show").html(imag);
                    $("#img-show").show();
                }
            },
            error: function () {
                alert("Error occurs");
            }
        });
    });

    // If you want to upload file on button click, then use below button click event
    $("#btnUpload").on('click', function () {
        // add jQuery ajax code to upload
    });
</script>