﻿@*@model IEnumerable<XsisMart.ViewModels.VMProduct>*@
@model XsisMart.Utils.PaginatedList<XsisMart.ViewModels.VMProduct>




<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h1>Product</h1>
            <button type="button" class="btn btn-dark" id="btn-create">Create New</button>
            <div class="card-tools">
                <form asp-action="Index" method="get" id="form-search">
                    <div>
                        @*<select id="pSize" name="pSize" class="form-control col-2" asp-items="@(new SelectList(ViewBag.PageSize,"Value","Text"))"></select>*@
                        @Html.DropDownList("pSize", new SelectList(ViewBag.PageSize, "Value", "Text"), new { @class = "form-control col-4", @id = "pSize" })
                    </div>
                    <div class="input-group input-group-sm" style="width: 250px;">
                        @*<input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />*@
                        <input id="myInput" type="text" name="SearchString" class="form-control float-right" value="@ViewData["CurrentFilter"]" placeholder="Search">@*search button*@

                        <div class="input-group-append">
                            @*<input type="submit" value="Search" class="btn btn-default" />*@
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>


                    </div>
                </form>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>Id Product</th>
                        <th>
                            @*<a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Last Name</a>*@
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" style="color:black">Product Name  <i class="fas fa-sort"></i></a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" style="color:black">Price  <i class="fas fa-sort"></i></a>
                        </th>
                        <th>stok</th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["CatSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" style="color:black"> Category  <i class="fas fa-sort"></i></a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["VarSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" style="color:black">Variant   <i class="fas fa-sort"></i></a>
                        </th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdProduct</td>
                            <td>@item.NameProduct</td>
                            <td>@item.Price</td>
                            <td>@item.Stock</td>
                            <td>@item.NameCategory</td>
                            <td>@item.NameVariant</td>
                            <td>
                                @if (item.Image == null)
                                {

                                    <img src="~/mediaUpload/f27fe425c87c497dbed14a97c3cee7ab.png" alt="" class="img-circle col-6" />

                                }
                                else
                                {
                                    <img src="~/mediaUpload/@item.Image" alt="" class="img-circle col-6" />
                                }
                            </td>

                            <td>
                                @*<a asp-action="Edit" class="btn btn-success" asp-route-id="@item.IdProduct">Edit</a>
                                    <a asp-action="Detail" class="btn btn-info" asp-route-_IdProduct="@item.IdProduct">Detail</a>
                                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdProduct">Delete</a>*@
                                <a type="button" class="btn btn-success btn-edit" data-id="@item.IdProduct">Edit</a>
                                <a type="button" class="btn btn-info btn-detail" data-id="@item.IdProduct">Details</a>
                                <a type="button" class="btn btn-danger btn-delete" data-id="@item.IdProduct">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content bg-default">
            <div class="modal-header">
                <h4 class="modal-title">Product</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>

</div>
<!-- /.modal -->


<script>
    $("#btn-create").click(function () {
        $("#id-body").empty();
        $("#id-body").load('/Product/Create')
        $("#modal-default").modal("show");
    })
    $(".btn-detail").click(function () {
        var _IdProduct = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Product/Detail?_IdProduct=' + _IdProduct);
        $("#modal-default").modal("show");
    })
    $(".btn-edit").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Product/Edit?id=' + id);
        $("#modal-default").modal("show");
    })
    $(".btn-delete").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Product/Delete?id=' + id);
        $("#modal-default").modal("show");
    })
    $("#pSize").change(function () {
        var selected = $(this).children("option:selected").val()

        $("#pSizeCurrent").val(selected);
        $("#pSize").val(selected)
        $("#form-search").submit();
    })
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<!-- /.modal-dialog -->
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-pSize="@ViewData["CurrentpSize"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-pSize="@ViewData["CurrentpSize"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
@*</div>*@


