﻿@model XsisMart.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

@*<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCategory">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@

<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h2 class="card-title">Detail Category</h2>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-12">
                        <label for="NameCategory">Category Name</label><br>                        
                        @*@Html.DisplayNameFor(model => model.NameCategory)*@
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NameCategory)
                    </dd>
                    <dt class="col-sm-12">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                </dl>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                @*<a asp-action="Edit" asp-route-id="@Model.IdCategory" class="btn btn-block btn-outline-success">Edit</a>*@
                @*<a asp-action="Edit" data-id="@Model.IdCategory" class="btn btn-block btn-outline-success btn-edit">Edit</a>*@
                <a asp-action="Index" class="btn btn-block btn-outline-info">Return</a>
            </div>
        </form>
    </div>
    <!-- /.card -->

</div>