﻿@model XsisMart.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

@*<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCategory" />
            <div class="form-group">
                <label asp-for="NameCategory" class="control-label"></label>
                <input asp-for="NameCategory" class="form-control" />
                <span asp-validation-for="NameCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>

<div class="col-12">
    <div class="card card-primary">
        <div class="card-header">
            <h1>Edit Category</h1>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form id="create-form" role="form" asp-action="Edit" data-ajax-method="POST">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdCategory" />
                <div class="form-group">
                    <label for="NameCategory">Category Name</label><br>
                    <input required asp-for="NameCategory" class="form-control" />
                    <span asp-validation-for="NameCategory" class="text-danger"></span>
                </div>
                <div class="col-sm-12">
                    <!-- textarea -->
                    <div class="form-group">
                        <label for="Description">Description</label><br>
                        <input required asp-for="Description" class="form-control" rows="6" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <a asp-action="Index" class="btn btn-block btn-outline-secondary col-2">Back to List</a>
</div>
<script>
    $(document).ready(function () {
        $("#create-form").validate();
    });
</script>