﻿@*@model IEnumerable<XsisMart.Models.Category>*@
@model XsisMart.Utils.PaginatedList<XsisMart.Models.Category>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCategory">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCategory">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCategory">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@

<div class="row col-12">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h1>Category</h1>

                <div class="card-tools">
                    <form asp-action="Index" method="get" id="form-search">
                        <div>
                            @*<select id="pSize" name="pSize" class="form-control col-2" asp-items="@(new SelectList(ViewBag.PageSize,"Value","Text"))"></select>*@
                            @Html.DropDownList("pSize", new SelectList(ViewBag.PageSize, "Value", "Text"), new { @class = "form-control col-6", @id = "pSize" })
                        </div>
                        <div class="input-group input-group-sm" style="width: 150px;">
                            @*<input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />*@
                            <input type="text" name="SearchString" class="form-control float-right" value="@ViewData["CurrentFilter"]" placeholder="Search" />@*search button*@

                            <div class="input-group-append">
                                @*<input type="submit" value="Search" class="btn btn-default" />*@
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>

                                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" style="color:black">Category Name  <i class="fas fa-sort"></i></a>
                            </th>
                            <th>
                                <a asp-action="Index" asp-route-sortOrder="@ViewData["DescSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" style="color:black">Description  <i class="fas fa-sort"></i></a>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NameCategory)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @*<a asp-action="Edit" asp-route-id="@item.IdCategory" class="btn btn-success">Edit</a>*@
                                    <a class="btn btn-success btn-edit" data-id="@item.IdCategory">Edit</a>
                                    @*<a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdCategory">Details</a>*@
                                    <a type="button" class="btn btn-info btn-details" data-id="@item.IdCategory">Details</a>
                                    @*<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdCategory">Delete</a>*@
                                    <a type="button" class="btn btn-danger btn-delete" data-id="@item.IdCategory">Delete</a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->

        </div>
        @*<a asp-action="Create" class="btn btn-dark col-2">Create New</a>*@
        <a type="button" class="btn btn-dark col-2" id="btn-create">
            Create New
        </a>
        <!-- /.card -->
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Categories</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    $("#btn-create").click(function () {
        $("#id-body").empty();
        $("#id-body").load('/Categories/Create')
        $("#modal-default").modal("show");
    })
    $(".btn-edit").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Categories/Edit/' + id);
        $("#modal-default").modal("show");
    })
    $(".btn-details").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Categories/Details?id=' + id);
        $("#modal-default").modal("show");
    })
    $(".btn-delete").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Categories/Delete?id=' + id);
        $("#modal-default").modal("show");
    })
    $("#pSize").change(function () {
        var selected = $(this).children("option:selected").val()

        $("#pSizeCurrent").val(selected);
        $("#pSize").val(selected)
        $("#form-search").submit();
    })
</script>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
    asp-route-pSize="@ViewData["CurrentpSize"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
    asp-route-pSize="@ViewData["CurrentpSize"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
<script>

    //$.ajax({
    //    url: '/Categories/Edit',
    //    data:(id:id),
    //    success: function (respon) {
    //        $("#id-body").empty();
    //        $("#id-body").append(respon);
    //        $("#modal-default").modal("show");
    //    }
    //})
</script>
