﻿@model XsisMart.ViewModels.VMProduct
@{
    ViewData["Title"] = "Detail";
    Layout = null;
}


<section class="content">

    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body">
            <form asp-action="AddCart" asp-controller="Transaction" method="POST" id="form-transaction">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <h3 class="d-inline-block d-sm-none">LOWA Men’s Renegade GTX Mid Hiking Boots Review</h3>
                        <div class="col-12">
                            @if (Model.Image == null)
                            {
                                <img src="~/mediaUpload/f27fe425c87c497dbed14a97c3cee7ab.png" alt="" class="img-fluid" />
                            }
                            else
                            {
                                <img src="~/mediaUpload/@Model.Image" alt="" class="img-fluid" />
                            }
                        </div>
                        <div class="col-12 product-image-thumbs">
                            <div class="product-image-thumb active">
                                @if (Model.Image == null)
                                {
                                    <img src="~/mediaUpload/f27fe425c87c497dbed14a97c3cee7ab.png" alt="" class="img-fluid" />
                                }
                                else
                                {
                                    <img src="~/mediaUpload/@Model.Image" alt="" class="img-fluid" />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <h3 class="my-3">@Model.NameProduct</h3>
                        <p>@Model.NameVariant/@Model.NameCategory</p>

                        
                        <h4>Quantity</h4>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <input type="number" class="form-control" id="Quantity" name="Quantity" min="0">
                        </div>

                        <h4 class="mt-3">Available Stock</h4>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <h4>@Model.Stock</h4>
                        </div>

                        <div class="bg-gray py-2 px-3 mt-4">
                            <h2 class="mb-0">
                                @Model.Price
                            </h2>
                            <h4 class="mt-0">
                                <small>Ex Tax: @Model.Price </small>
                            </h4>
                        </div>

                        <div class="mt-4">                        
                            <a type="submit" id="btn-cart" class="btn btn-primary btn-lg btn-flat toastsDefaultDefault">
                            <span style="color:red;display:none" id="validateQty"></span>

                            <input type="hidden" id="Stock" name="Stock" value="@Model.Stock" />
                            <input type="hidden" id="IdProduct" name="IdProduct" value="@Model.IdProduct" />
                            <input type="hidden" id="Price" name="Price" value="@Model.Price" />
                            <span class="input-group-append">
                                <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                Add to Cart
                            </span>
                            </a>

                        </div>

                        <div class="mt-4 product-share">
                            <a href="#" class="text-gray">
                                <i class="fab fa-facebook-square fa-2x"></i>
                            </a>
                            <a href="#" class="text-gray">
                                <i class="fab fa-twitter-square fa-2x"></i>
                            </a>
                            <a href="#" class="text-gray">
                                <i class="fas fa-envelope-square fa-2x"></i>
                            </a>
                            <a href="#" class="text-gray">
                                <i class="fas fa-rss-square fa-2x"></i>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="row mt-4">
                    <nav class="w-100">
                        <div class="nav nav-tabs" id="product-tab" role="tablist">
                            <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Description</a>                          
                        </div>
                    </nav>
                    <div class="tab-content p-3" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae condimentum erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed posuere, purus at efficitur hendrerit, augue elit lacinia arcu, a eleifend sem elit et nunc. Sed rutrum vestibulum est, sit amet cursus dolor fermentum vel. Suspendisse mi nibh, congue et ante et, commodo mattis lacus. Duis varius finibus purus sed venenatis. Vivamus varius metus quam, id dapibus velit mattis eu. Praesent et semper risus. Vestibulum erat erat, condimentum at elit at, bibendum placerat orci. Nullam gravida velit mauris, in pellentesque urna pellentesque viverra. Nullam non pellentesque justo, et ultricies neque. Praesent vel metus rutrum, tempus erat a, rutrum ante. Quisque interdum efficitur nunc vitae consectetur. Suspendisse venenatis, tortor non convallis interdum, urna mi molestie eros, vel tempor justo lacus ac justo. Fusce id enim a erat fringilla sollicitudin ultrices vel metus. </div>                    
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.card-body -->
    <!-- /.card -->

</section>
<!-- /.content -->



<script>

    $("#btn-cart").click(function () {
        var qty = $("#Quantity").val();
        var stock = $("#Stock").val();
        var price = $("#Price").val();

        if (qty == ""||qty=="0") {
            $("#validateQty").html('Please enter quantity')
            $("#validateQty").show();
            return false;
        }
        if (parseInt(qty) > parseInt(stock)) {
            $("#validateQty").html('Purchase over quantity')
            $("#validateQty").show();
            return false;
        }
        $("#validateQty").hide();
        var dataForm = $("#form-transaction").serialize();
        var amount = parseInt(qty) * parseInt(price)
        dataForm = dataForm + '&Amount=' + amount

        $.ajax({
            url: '/Transaction/AddCart',
            data: dataForm,
            method: 'post',
            success: function (respon) {
                if (respon.status == "success") {
                    toastr.success('Added to Cart')
                    $('#model-default').modal('hide');

                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                }
            }
        })
    })
</script>