﻿@{
    ViewData["Title"] = "Home Page";
}
@model XsisMart.Utils.PaginatedList<XsisMart.ViewModels.VMProduct>
@*@model XsisMart.ViewModels.VMProduct*@

<div class="text-center col-12">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <form asp-action="Index" method="get" id="form-search">
                    <div>
                        @*<select id="pSize" name="pSize" class="form-control col-2" asp-items="@(new SelectList(ViewBag.PageSize,"Value","Text"))"></select>*@
                        @Html.DropDownList("pSize", new SelectList(ViewBag.PageSize, "Value", "Text"), new { @class = "form-control col-4", @id = "pSize" })
                    </div>
                    <div class="input-group input-group-sm" style="width: 250px;">
                        @*<input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />*@
                        <input id="myInput" type="text" name="SearchString" class="form-control float-right" value="@ViewData["CurrentFilter"]" placeholder="Search">@*search button*@

                        <div class="input-group-append">
                            @*<input type="submit" value="Search" class="btn btn-default" />*@
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>


                    </div>
                </form>
            </div>
        </div>






        <div class="card card-solid">
            <div class="=card-body pb-0">
                <div class="row d-flex align-items-stretch">
                    @foreach (var item in Model)
                    {
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0">
                                    <div class="form-group">
                                        <h5>@item.NameCategory/@item.NameVariant</h5>
                                        @*<span asp-validation-for="NameProduct" class="text-danger"></span>*@
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row-">
                                        <div class="col-7">
                                            <h2 class="lead"><b>@item.NameProduct</b></h2>
                                            <div class="text-center">
                                                @if (item.Image == null)
                                                {
                                                    <img src="~/mediaUpload/f27fe425c87c497dbed14a97c3cee7ab.png" alt="" class="img-fluid img-circle" />
                                                }
                                                else
                                                {
                                                    <img src="~/mediaUpload/@item.Image" alt="" class="img-fluid img-circle" />
                                                }

                                            </div>
                                            <p><b>Price</b>: @item.Price</p>
                                            <p><b>Stock</b>: @item.Stock</p>
                                            @*<td></td>
                                                <td></td>
                                                <td>@item.NameCategory</td>
                                                <td>@item.NameVariant</td>*@
                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="../../dist/img/user1-128x128.jpg" alt="" class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="#" class="btn btn-sm btn-primary btn-detail" data-id="@item.IdProduct">
                                            <i class="fas fa-cart-plus"></i> Add Cart
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>      <!-- /.card-body -->
        </div>   <!-- /.card-footer -->


        <div class="modal fade" id="modal-default">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Product</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="id-body">
                        <p>One fine body&hellip;</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>

<script>
    $(".btn-detail").click(function () {
        var _IdProduct = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Home/Detail?_IdProduct=' + _IdProduct);
        $("#modal-default").modal("show");
    })
    $("#pSize").change(function () {
        var selected = $(this).children("option:selected").val()

        $("#pSizeCurrent").val(selected);
        $("#pSize").val(selected)
        $("#form-search").submit();
    })
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       asp-route-pSize="@ViewData["CurrentpSize"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       asp-route-pSize="@ViewData["CurrentpSize"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
