﻿@model IEnumerable<XsisMart.ViewModels.VMTransaction>
@{
    ViewData["Title"] = "ListCart";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <form asp-action="ListCart" asp-controller="Transaction" method="POST" id="form-transaction">
                <div class="col-12">
                    <div class="callout callout-info">
                        <h5><i class="fas fa-info"></i> Note:</h5>
                        This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
                    </div>


                    <!-- Main content -->
                    <div class="invoice p-3 mb-3">
                        <!-- title row -->
                        <div class="row">
                            <div class="col-12">

                                <h4>
                                    <i class="fas fa-globe"></i> AdminLTE, Inc.
                                    <small class="float-right">Date: @ViewBag.DateNow</small>
                                </h4>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-sm-4 invoice-col">
                                From
                                <address>
                                    <strong>Admin, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    Phone: (804) 123-5432<br>
                                    Email: info@almasaeedstudio.com
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                To
                                <address>
                                    <strong>John Doe</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    Phone: (555) 539-1037<br>
                                    Email: john.doe@example.com
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                <b>Invoice #007612</b><br>
                                <br>
                                <b>Order ID:</b> @ViewBag.CodeTransaction<br>
                                <b>Payment Due:</b> 2/22/2014<br>
                                <b>Account:</b> 968-34567
                            </div>

                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-- Table row -->
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Qty</th>
                                            <th>Product</th>
                                            <th>Description</th>
                                            <th>Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Quantity</td>
                                                <td>@item.NameProduct</td>
                                                <td>@item.NameCategory/@item.NameCategory</td>
                                                <td>@item.Amount</td>
                                                <td>
                                                    <a type="button" class="btn btn-danger btn-delete" data-id="@item.IdDetail">
                                                    <i class="fas fa-trash"></i></a>
                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <!-- accepted payments column -->
                            <div class="col-6">
                                <p class="lead">Payment Methods:</p>
                                <img src="~/adminlte/dist/img/credit/visa.png" alt="Visa">
                                <img src="~/adminlte/dist/img/credit/mastercard.png" alt="Mastercard">
                                <img src="~/adminlte/dist/img/credit/american-express.png" alt="American Express">
                                <img src="~/adminlte/dist/img/credit/paypal2.png" alt="Paypal">

                                <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                                    plugg
                                    dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                                </p>
                            </div>
                            <!-- /.col -->
                            <div class="col-6">
                                <p class="lead">Amount Due 2/22/2014</p>

                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th style="width:50%">Subtotal:</th>
                                                <td>@ViewBag.SubTotal</td>
                                            </tr>
                                            <tr>
                                                <th>Tax (5%)</th>
                                                <td>@ViewBag.Tax</td>
                                            </tr>
                                            <tr>
                                                <th>Shipping:</th>
                                                <td>Free</td>
                                            </tr>
                                            <tr>
                                                <th>Total:</th>
                                                <td>@ViewBag.Total</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
            </form>
            <!-- /.row -->
            <!-- this row will not appear when printing -->
            <div class="row no-print">
                <div class="col-12">
                    <a href="invoice-print.html" target="_blank" class="btn btn-success float-right"><i class="fas fa-print"></i> Print</a>
                    <form asp-action="Update" asp-controller="Home" method="post" id="update-form">
                        <input type="hidden" value="@ViewBag.IdHeader" id="IdHeader" name="IdHeader" />
                        <input type="hidden" Value="@ViewBag.IdCustomer" id="IdCustomer" name="IdCustomer" />
                        <input type="hidden" Value="@ViewBag.CodeTransaction" id="CodeTransaction" name="CodeTransaction" />
                        <input type="hidden" Value="@ViewBag.IsCheckout" id="IsCheckout" name="IsCheckout" />
                        <a type="button" class="btn btn-danger btn-update">
                            <i class="far fa-credit-card btn-input"></i>
                            Submit Payment
                        </a>
                    </form>
                    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                        <i class="fas fa-download"></i> Generate PDF
                    </button>
                </div>

            </div>

        </div>
                    <!-- /.invoice -->
                </div>
                <!-- /.col -->
            
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content bg-default">
            <div class="modal-body" id="id-body">
                <p>One fine body&hellip;</p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<script>
    $(".btn-delete").click(function () {
        var id = $(this).data("id");

        $("#id-body").empty();
        $("#id-body").load('/Home/Delete/' + id);
        $("#modal-default").modal("show");
    });
    $(".btn-update").click(function () {
        var id = $("#update-form").serialize();

        $.ajax({
            url: '/Home/Update/',
            dataType: 'json',
            data: id,
            method: 'post',
            success: function (respon) {
                if (respon.status == "success") {
                    toastr.success('Thanks for your order')

                    setTimeout(function () {
                        window.location.href="/Home/Index/";
                    }, 2000);
                }
                else {
                    toastr.error("error : " + respon.messages)
                }
            }
        })
    });
</script>