﻿@model XsisMart.ViewModels.VMTransaction

@{
    ViewData["Title"] = "Update";
    Layout = null;
}



<div class="col-md-12">
    <!-- general form elements -->
    <div>
        <div class="card-header">
            <h5>Are you sure you want to checkout ?</h5>
        </div>

        <div class="card-footer">
            <form asp-action="Update" asp-controller="Home">
                <input type="hidden" Value="@ViewBag.IdHeader" id="IdHeader" name="IdHeader" />
                <input type="hidden" Value="@ViewBag.IdCustomer" id="IdCustomer" name="IdCustomer" />
                <input type="hidden" Value="@ViewBag.CodeTransaction" id="CodeTransaction" name="CodeTransaction" />
                <input type="hidden" Value="@ViewBag.IsCheckout" id="IsCheckout" name="IsCheckout" />
                <input type="submit" class="btn btn-block btn-outline-danger" value="Update">
                <a asp-action="ListCard" class="btn btn-block btn-outline-info ">Back</a>
            </form>

        </div>

    </div>
    <!-- /.card -->

</div>
