﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model XsisMart.Models.Customer
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XsisMart | Registration Page</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="~/adminlte/index2.html"><b>Admin</b>LTE</a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Register a new membership</p>

                <form asp-action="SendEmail" asp-controller="Login" method="post" id="update-form">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="NameCustomer" placeholder="Full name">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span style="color:red;display:none" id="divMessage"></span>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" name="Email" placeholder="Email" id="txt-email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="Password" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="Address" placeholder="Address">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                <label for="agreeTerms">
                                    I agree to the <a href="#">terms</a>
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="button" class="btn btn-primary btn-block" id="btn-submit">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i>
                        Sign up using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i>
                        Sign up using Google+
                    </a>
                </div>

                <a asp-action="Login" asp-controller="Login">I already have a membership</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content bg-default">
                <div class="modal-body" id="id-body">
                    <p>One fine body&hellip;</p>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <script src="~/adminlte/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/adminlte/plugins/toastr/toastr.min.js"></script>
    <link href="~/adminlte/plugins/toastr/toastr.css" rel="stylesheet" />
    <link href="~/adminlte/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <!-- Bootstrap 4 -->
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte/dist/js/adminlte.min.js"></script>
</body>
</html>


<script>
    //$("#btnValidate").click(function () {
    //    alert("test")
    //    var email = $("#txtEmailId").val();
    //    $.ajax({
    //        method: 'post',
    //        url: "/Login/ValidateEmailId",
    //        data: { emailId: email },
    //    })
    //        .done(function (msg) {
    //            if (msg == 1) {
    //                $("#divMessage").html("Error : Duplicate Email Id Found.");
    //                $("#divMessage").show();
    //                return false;
    //            } else {
    //                var id = $("#update-form").serialize();

    //                $.ajax({
    //                    url: '/Login/SendEmail',

    //                    data: id,
    //                    method: 'post',
    //                    success: function (respon) {
    //                        if (respon.status == "success") {
    //                            toastr.success('Success')

    //                            $("#id-body").empty();
    //                            $("#id-body").load('/Login/VerifyOTP', respon.data);
    //                            $("#modal-default").modal("show");

    //                        }
    //                        else {
    //                            toastr.error("error : " + respon.messages)
    //                        }
    //                    }
    //                })
    //            }
    //        })
    //};


        $("#btn-submit").click(function () {
        var email = $("#txt-email").val();
        $.ajax({
            method: 'post',
        url: '/Login/ValidateEmailId',

        data: {emailId: email },

        }).done(function (msg) {
            if (msg == 1) {
            $("#divMessage").html("Error : Duplicate Email Id Found.");
        $("#divMessage").show();
        return false;
            } else {
                var dataform = $("#update-form").serialize();
        $.ajax({
            url: '/login/SendEmail',

        data: dataform,
        method: 'post',
        success: function (respon) {
                        if (respon.status == "success") {
            toastr.success('otp!')

                            $("#id-body").empty();
                            $("#id-body").load('/login/VerifyOTP', respon.data);
        $("#modal-default").modal("show");

                        }
        else {
            toastr.error("error : " + respon.message)
        }
                    }
                })
            }

        })

    })

</script>
