﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model XsisMart.ViewModels.VMCustomer


@{
    Layout = null;
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Quick Example</h3>
    </div>
    <div id="demo"></div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-action="Register" asp-controller="Login" id="form">
        <div class="card-body">
            <div class="form-group">
                <label>OTP:</label>
                <input type="hidden" class="=form-control" id="otp" name="otp" value="@Model.Otp" />
                <input type="hidden" class="=form-control" asp-for="NameCustomer" value="@Model.NameCustomer" />
                <input type="hidden" class="=form-control" asp-for="Password" value="@Model.Password" />
                <input type="hidden" class="=form-control" asp-for="IdCustomer" value="@Model.IdCustomer" />
                <input type="hidden" class="=form-control" asp-for="Email" value="@Model.Email" />
                <input type="hidden" class="=form-control" asp-for="Address" value="@Model.Address" />
                <span style:"color:red;display:none" id="validateOTP"></span>
                <input type="text" class="form-control" id="text" name="text" placeholder="OTP">
            </div>

        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="button" id="btn-regis" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<script>
    $("#btn-regis").click(function () {

        var id = $("#otp").val();
        var text = $("#text").val();

        if (text == id) {
            $("#validateOTP").html('Otp succes')
            $("#validateOTP").show();

        }
        else {
            $("#validateOTP").html('Otp error')
            $("#validateOTP").show();
            return false;
        }
        $("#form").submit();

    });
    $(document).ready(function () {

        // Set the date we're counting down to
        var countDownDate = new Date();
        countDownDate.setMinutes(countDownDate.getMinutes() + 5)
        countDownDate = countDownDate.getTime()
        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "EXPIRED";
            }
        }, 1000)
    });
</script>